doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css", integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC", crossorigin="anonymous")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/custom.css")
        script(src="https://kit.fontawesome.com/26f2ca732d.js" crossorigin="anonymous")
        title TentBot Battle System
    body         
        div.container.py4
            header.pb-3.mb-4.pt-3
                a(href="/").main-title Tent Bot
            div.p-4.mb-5.bg-dark.rounded
                button.btn.btn-success.btn-block
                    a.btnlink(href="https://discord.com/api/oauth2/authorize?client_id=829067521969094667&permissions=34359798784&scope=bot") Invite Me!
            div.p-4.mb-5.bg-dark.rounded
                h4.m-3 Welcome!
                p.m-3 TentBot allows you to find some of the rarest items on the internet from the comfort of your Discord Server. Battle your friends with your best items or show off your collection to the world.
                p.m-3 Why is it called "TentBot"? Good question! It actually has nothing to do with the bot, there was just this funny jpeg of a person running in what appears to be a tent.
            div.p-1.mb-5.bg-dark.rounded
                h4.m-3 Leaderboard
                ul
                each user in user_db.length ? user_db : ['No users have been registered!']
                    li.m-3
                        div.card
                            div.card-header
                                a.item-title(href=`/user?id=${user.user_id}&page=1`)=`[${user.user_score}] ${user.user_name}#${user.user_tag}`  
                            div.row.g-0
                                div.col-md-2
                                    div.card-body.low-padding
                                        img.img-thumbnail.img-fluid(src=`${user.user_avatar}`)
                                div.col-md-5
                                    div.card-body
                                        h5 User Stats:
                                        p.chip.m-2=`Owned Items: ` 
                                            b=`${user.user_inventory.length}`
                                div.col-md-5
                                    div.card-body
                                        h5 Wikidex Stats:
                                        p.chip.m-2=`Attack: ` 
                                            b=`${user.user_attack}`
                                        p.chip.m-2=`Defense: ` 
                                            b=`${user.user_defense}`
                                        p.chip.m-2=`Health: ` 
                                            b=`${user.user_defense}`
                                        p.chip.m-2=`Enchant/Curse: ` 
                                            b=`${user.user_enchants}/${user.user_curses}`
                            div.row.g-0
                                div.card-body.low-padding
                                    div.m-3
                                        p.smallprint=`Last updated on ${user.last_updated}`                                             
            div.p-1.mb-5.bg-dark.rounded
                h4.m-3 Recent Discoveries
                ul
                each val in item_db.length ? item_db : ['No items have been discovered!']
                    li.mb-3
                        div.card
                            div.card-header
                                a.item-title(href=`/item?id=${val.id}`)=`[${val.level}][${val.prefix}] ${val.name}`  
                            div.row.g-0
                                div.col.md-8
                                    div.card-body
                                        div.row
                                            div.col-10
                                                h5 Stats:
                                                p.chip.m-2=`Attack ${val.attack} * ${val.level} + ${(val.enchants - val.curses) * 2}` 
                                                    b=` (${(val.attack * val.level) + (val.enchants - val.curses) * 2})`
                                                p.chip.m-2=`Defense ${val.defense} * ${val.level} + ${(val.enchants - val.curses) * 2}`
                                                    b=` (${(val.defense * val.level) + (val.enchants - val.curses) * 2})`
                                                p.chip.m-2=`Health ${val.health} * ${val.level} + ${(val.enchants - val.curses) * 2}`
                                                    b=` (${(val.health * val.level) + (val.enchants - val.curses) * 2})`

                                            div.btn-group.m-2.float-right.col
                                                button(id="btn_enchant?" + val.id onclick=`enchant("${val.id}")`).btn.btn-primary
                                                    div.row.g-0
                                                        div.col
                                                            i.fas.fa-magic
                                                        div.col
                                                            h5=`${val.enchants}`
                                                button(id="btn_curse?" + val.id onclick=`curse("${val.id}")`).btn.btn-secondary
                                                    div.row.g-0
                                                        div.col
                                                            i.fas.fa-skull
                                                        div.col
                                                            h5=`${val.curses}`
                                        div
                                            p(id=`status-message?${val.id}`)
                div.m-3
                    p.smallprint=`Copyright © ${new Date().getFullYear()} Nathan Laha`

    script(src="js/client.js")